In [34]:
import matplotlib as plt
print('matplotlib: {}'.format(plt.__version__))
# pandas
import pandas as pd
print('pandas: {}'.format(pd.__version__))
# scikit-learn
import sklearn as sk
print('sklearn: {}'.format(sk.__version__))
from pandas_profiling import ProfileReport
import seaborn as sns
print('seaborn: {}'.format(sns.__version__))
import numpy as np
print('numpy: {}'.format(np.__version__))
from sklearn import linear_model
from sklearn import svm
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

matplotlib: 3.3.2
pandas: 1.1.3
sklearn: 0.23.2
seaborn: 0.11.0
numpy: 1.19.2

In [2]:
X_train = pd.read_csv("X_train.csv")

In [3]:
X_val=pd.read_csv("X_val.csv")
X_test = pd.read_csv("X_test.csv")

In [4]:
y_train = pd.read_csv("y_train.csv")
y_val = pd.read_csv("y_val.csv")
y_test = pd.read_csv("y_test.csv")

In [5]:
id_test = pd.read_csv("id_test.csv")

In [15]:
X_train = X_train.drop(columns=["Unnamed: 0"])

In [17]:
X_val = X_val.drop(columns=["Unnamed: 0"])

In [19]:
X_test = X_test.drop(columns=["Unnamed: 0"])

In [21]:
y_train =y_train.drop(columns=["Unnamed: 0"])

In [23]:
y_val = y_val.drop(columns=["Unnamed: 0"])

In [25]:
y_test = y_test.drop(columns=["Unnamed: 0"])

In [27]:
id_test = id_test.drop(columns=["Unnamed: 0"])

In [36]:
y_test.sample()

     SalePrice_Log
120      12.100712

In [35]:
models = []
models.append(('LR', LinearRegression()))
models.append(('Ridge', linear_model.Ridge()))
models.append(('SVR', svm.SVR()))
models.append(('Lasso',linear_model.Lasso()))
models.append(('ElasticNet',ElasticNet()))
results = []
names = []
for name, model in models:
    kfold = KFold(n_splits=10, random_state=1, shuffle=True)
    cv_results = cross_val_score(model, X_train, y_train, cv=kfold,scoring='neg_root_mean_squared_error')
    results.append(cv_results)
    names.append(name)
    print('%s: %f (%f)' % (name, cv_results.mean(), cv_results.std()))

LR: -0.135828 (0.008469)
Ridge: -0.134779 (0.007722)

C:\Users\dalil\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\dalil\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\dalil\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\dalil\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\dalil\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\dalil\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\dalil\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\dalil\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\dalil\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\dalil\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

SVR: -0.336435 (0.017211)
Lasso: -0.302402 (0.020140)
ElasticNet: -0.299317 (0.020669)

In [37]:
# The best model is the ridge model

In [39]:
# Let's make a baseline

In [69]:
model = linear_model.Ridge()
model.fit(X_train, y_train)
predictions = model.predict(X_val)

In [42]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_val, predictions,squared=False)

0.14740600048182884

In [38]:
# Let's tune the hyperparameters

In [44]:
from sklearn.model_selection import GridSearchCV
alphas = np.array([1,0.1,0.01,0.001,0.0001,0])
model = linear_model.Ridge()
grid = GridSearchCV(estimator=model, param_grid=dict(alpha=alphas), scoring='neg_root_mean_squared_error')
grid.fit(X_train, y_train)
print(grid.best_score_)
print(grid.best_estimator_.alpha)

-0.13415896351556014
1.0

In [ ]:
# During EDA i took the log of the sale price to have a normally distributed feature
# Now I have to undo it to submit my results.

In [47]:
id_test

        Id
0     1461
1     1462
2     1463
3     1464
4     1465
...    ...
1454  2915
1455  2916
1456  2917
1457  2918
1458  2919

[1459 rows x 1 columns]

In [67]:
# Final prediction

In [70]:
predictions2 = model.predict(X_test)

In [71]:
predictions2

array([[12.22054978],
       [12.09791646],
       [12.24402835],
       ...,
       [12.40451678],
       [11.7860125 ],
       [11.78241615]])

In [75]:
predictions2 = predictions2.flatten()

array([12.22054978, 12.09791646, 12.24402835, ..., 12.40451678,
       11.7860125 , 11.78241615])

In [73]:
mean_squared_error(y_test, predictions2,squared=False)

0.13114740678229392

In [48]:
SalePrice =  np.exp(predictions)

In [52]:
id_test.dtypes

Id    int64
dtype: object

In [65]:
(pd.DataFrame(data=[id_test, SalePrice]))

C:\Users\dalil\anaconda3\lib\site-packages\pandas\core\internals\construction.py:305: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0          Id
0     1461
1     1462
2     1463
3 ...
1  [[180444.36608399986], [175805.545461731], [14...

In [64]:
SalePrice

array([[180444.366084  ],
       [175805.54546173],
       [149924.44997892],
       [177897.72172331],
       [134730.74136049],
       [152510.44124616],
       [209442.41306561],
       [188087.76503118],
       [218375.09962404],
       [105005.12490608],
       [183187.52556638],
       [331816.55760791],
       [117131.79795728],
       [ 91454.62101548],
       [136949.8303605 ],
       [147909.41997556],
       [173458.244402  ],
       [138560.79150361],
       [205403.39314896],
       [169448.45861987],
       [438360.63591182],
       [253038.20316502],
       [172140.66058954],
       [121427.93263516],
       [115586.07567773],
       [161794.64474904],
       [124170.781475  ],
       [186087.54786834],
       [170863.98590591],
       [129169.56365554],
       [122534.52620021],
       [116176.34713586],
       [ 97357.9845925 ],
       [ 72911.75024374],
       [131872.57821373],
       [136888.6032407 ],
       [110425.29496089],
       [144254.14354723],
       [266582.28209306],
       [181374.28714673],
       [251618.86612882],
       [119396.27305467],
       [135114.80217318],
       [200493.86919402],
       [236959.98053314],
       [237087.89169941],
       [108802.54502807],
       [328927.84295913],
       [211401.23657437],
       [237420.3032657 ],
       [179677.48247834],
       [167376.37565743],
       [119508.86624381],
       [229441.84766746],
       [188167.62901346],
       [ 92954.79212842],
       [143922.79485257],
       [127272.16137646],
       [106140.38307218],
       [ 96373.81711833],
       [181216.13893629],
       [174374.55889579],
       [256718.51011039],
       [337594.06596809],
       [206300.78538658],
       [220947.12675771],
       [204607.73578599],
       [111105.80989013],
       [126748.64783525],
       [119749.72954996],
       [ 95962.36191048],
       [284134.08655889],
       [134362.03445087],
       [144261.96031068],
       [183611.54439356],
       [115342.34323982],
       [192115.4606736 ],
       [360639.4828802 ],
       [120161.44406378],
       [ 94292.2084318 ],
       [303399.47724859],
       [126535.41739605],
       [156457.41838331],
       [224428.75060524],
       [150214.01438391],
       [142733.88774645],
       [198237.0966716 ],
       [ 93178.12238719],
       [144054.14075891],
       [115408.83523303],
       [ 93551.55969456],
       [226737.41629028],
       [165224.50315299],
       [158960.20497688],
       [218798.8155148 ],
       [116181.04654128],
       [179084.89420948],
       [184980.61634334],
       [129660.69751716],
       [222445.03389302],
       [258799.12551336],
       [119037.72397096],
       [ 65405.1446331 ],
       [189752.93698694],
       [356295.51555243],
       [115920.02694402],
       [217224.53450722],
       [143744.72384561],
       [311628.0963012 ],
       [169832.19676738],
       [204136.71478133],
       [151558.00049784],
       [128861.07689635],
       [231279.07820722],
       [115337.72754781],
       [127350.80602694],
       [226503.42594253],
       [141253.9645147 ],
       [222829.88186826],
       [178997.77011797],
       [228873.62489509],
       [284793.8884241 ],
       [307239.70789574],
       [209191.44286379],
       [131812.99166688],
       [127782.95519745],
       [208192.42113414],
       [109728.67682733],
       [177463.5008167 ],
       [ 98839.08345183],
       [205654.14562143],
       [215839.35211732],
       [195455.07232369],
       [ 68100.50309559],
       [162596.11270442],
       [308213.4261153 ],
       [143167.13796474],
       [116176.34713586],
       [396961.17084114],
       [114195.88473739],
       [ 73123.57530583],
       [174210.71197689],
       [ 79183.02685436],
       [202495.75454125],
       [ 62302.70651717],
       [154669.57595023],
       [125198.31901811],
       [136888.6032407 ],
       [173100.71864397],
       [316910.37855104],
       [211548.11315452],
       [358151.13663144],
       [167364.79464809],
       [121512.99304163],
       [ 77468.45500494],
       [177770.18357783],
       [251143.71702413],
       [ 51041.51735811],
       [125003.65854222],
       [194326.16084475],
       [243343.69562742],
       [177849.29752705],
       [187670.41247504],
       [349755.38069548],
       [194269.80060971],
       [126602.75074312],
       [204692.06777219],
       [173950.87112456],
       [205504.26191496],
       [ 86641.0832903 ],
       [310943.36023741],
       [306215.15931931],
       [ 62380.66185898],
       [308066.21948522],
       [104679.68592133],
       [365594.08126743],
       [139081.13575065],
       [174304.87457085],
       [144850.68907602],
       [220482.18519176],
       [140107.1364962 ],
       [230348.40777664],
       [218082.60663251],
       [120372.15611725],
       [150331.90197874],
       [146480.79164612],
       [116176.34713586],
       [167260.07017171],
       [111719.17563415],
       [ 77613.11159958],
       [109082.54895161],
       [255767.64184697],
       [296109.88009513],
       [123091.31538732],
       [355569.60159636],
       [276293.91873241],
       [167014.67836924],
       [210485.04467531],
       [107200.22746355],
       [206603.8997088 ],
       [218061.62787741],
       [243900.77964435],
       [238660.84659476],
       [ 90891.26628779],
       [286815.33034176],
       [ 83722.47479116],
       [195832.89282945],
       [163795.76043854],
       [134623.64958774],
       [141080.33921111],
       [202946.84951821],
       [204367.7205305 ],
       [169088.24987628],
       [243181.96257629],
       [212701.81146593],
       [220034.21664895],
       [341340.81148382],
       [181997.68338969],
       [120346.19109275],
       [183481.49021296],
       [222251.9506856 ],
       [121232.31946518],
       [ 92671.24398179],
       [152704.85717253],
       [134104.11158518],
       [177772.78534881],
       [150138.93092174],
       [149639.71482103],
       [265844.51076752],
       [140309.35185681],
       [143015.78777476],
       [ 70521.40904225],
       [165070.52172263],
       [132787.23083052],
       [177595.82762812],
       [101024.96852769],
       [157228.06521733],
       [166790.13740464],
       [131136.54011782],
       [179024.9101926 ],
       [118868.99948966],
       [ 92913.07661626],
       [326538.62007878],
       [352988.59258594],
       [134196.97694905],
       [234307.45335421],
       [123238.0324923 ],
       [ 90959.23082213],
       [ 77102.89822732],
       [236599.17015112],
       [105582.57113236],
       [221554.49916973],
       [146037.91917948],
       [133910.80966446],
       [160422.5556251 ],
       [119683.71403617],
       [206422.00630339],
       [164485.33869786],
       [177234.75334519],
       [122699.75956419],
       [115223.71723264],
       [104663.41000361],
       [387265.96481439],
       [112012.85685645],
       [187295.13152809],
       [233198.90128138],
       [123630.76420613],
       [115158.39014357],
       [205708.97251865],
       [131117.1265585 ],
       [152389.8312406 ],
       [115222.52855073],
       [205920.36517642],
       [140962.08046536],
       [272802.96024985],
       [138924.35402692],
       [ 85642.54933871],
       [210690.46065932],
       [249234.5441255 ],
       [ 95273.80041296],
       [256377.4932929 ],
       [122563.86190217],
       [ 81819.03390623],
       [188170.35321653],
       [139753.86269629],
       [136122.18713403],
       [163894.56593892],
       [210935.62935843],
       [204642.03256859],
       [202722.65844395],
       [107129.24224742],
       [117629.80931269],
       [310554.842058  ],
       [129193.7555557 ],
       [145558.51796613],
       [195381.64464092],
       [116634.37647246],
       [161723.36674612],
       [220274.50703045],
       [173475.15587976],
       [ 66629.04978841],
       [246565.01533199],
       [117812.81195483],
       [117493.93787894],
       [104149.17813859],
       [214160.67870976],
       [153999.88005548],
       [105984.78258313],
       [153522.34090011],
       [327855.15633642],
       [190678.42876344],
       [210686.93249742],
       [ 87251.00874572],
       [194587.16403845],
       [195675.03209036],
       [177168.5160472 ],
       [120052.73798106],
       [431390.26519516],
       [352077.60652762],
       [413020.12175405],
       [131716.25695287],
       [ 90661.82634588],
       [170870.42104816],
       [136806.23079312],
       [158818.13296805],
       [287759.26595108],
       [317311.39552111],
       [179996.75717291],
       [134104.11158518],
       [272381.03931965],
       [207236.27071526],
       [247811.61801915],
       [135546.95626491],
       [133396.25841323],
       [131095.78561467],
       [252519.13149753],
       [101433.31507015],
       [126327.77912256],
       [ 93334.64712345],
       [164131.87049616],
       [213236.46371186],
       [184287.1878507 ],
       [119749.8197122 ],
       [151940.78162089],
       [340075.65693639],
       [186820.65742916],
       [236207.20829085],
       [128170.38640917],
       [146728.61226274],
       [208729.32814998],
       [302543.69152029],
       [116810.36607935],
       [110864.73096992],
       [228934.07566254],
       [201599.17007262],
       [177931.88772075],
       [252355.07245932],
       [429011.98181519],
       [226350.65142783],
       [ 78497.090466  ],
       [112767.72127744],
       [127493.27814926],
       [155364.56428847],
       [205777.9995169 ],
       [162395.46640874],
       [348937.16530411],
       [166687.9626181 ],
       [232668.01034172],
       [109451.93453684],
       [ 96310.74205878],
       [151497.60678497],
       [169594.28199969],
       [210914.7261703 ],
       [103660.31629787],
       [146942.36474768],
       [ 99524.16253638],
       [169822.70900683],
       [152400.7349757 ],
       [167789.94510922],
       [147542.44853836],
       [131390.57964646],
       [134548.53350223],
       [171632.7445102 ],
       [130610.43395642],
       [225527.82270199],
       [182846.04440148],
       [303437.16652371],
       [206841.37469397],
       [ 70598.70338057],
       [137103.74839428],
       [129428.35290291],
       [181094.04985097],
       [226284.48464508],
       [231892.43071785],
       [175728.27927013],
       [181893.67183422],
       [237674.00949847],
       [ 67058.55693907],
       [161543.8421802 ],
       [107513.31804904],
       [173827.24041967],
       [175003.31439014],
       [255181.77181177],
       [250728.526491  ],
       [117635.47774181],
       [188715.25953187],
       [167066.613286  ],
       [177515.40354829],
       [303085.58855713],
       [152916.45094786],
       [292503.2046005 ],
       [292355.51679678],
       [205920.36517642],
       [100246.8208178 ],
       [118956.54604808],
       [140104.36517444],
       [133011.42558995],
       [135173.36564139],
       [237385.34594649],
       [143711.54689641],
       [220471.87073439],
       [121352.27507916],
       [116448.74167442],
       [ 87063.20328281],
       [130550.18399053],
       [192546.13068804],
       [156427.18185265],
       [229913.17664239],
       [150979.27071627],
       [229857.14155398],
       [204734.70989876],
       [111932.22746134],
       [123860.97935165],
       [114421.04675871],
       [106662.7197056 ],
       [116479.2812809 ],
       [167419.15360942]])